body {
  background-color: grey;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  box-sizing: border-box;
  width: 400px;
  background: white;
  margin: 70px auto 0px;
  border-radius: 10px;
  padding: 50px;
}

h1 {
  text-align: center;
  padding: 15px 0px 35px 0px;
  margin: 0;
}

.container input {
  width: 100%;
  margin-bottom: 15px;
}

.container input[type='text'],
input[type='password'] {
  border: none;
  border-bottom: 1px solid black;
  padding: 10px 5px;
  margin: 5px 0;
  padding-left: 25px;
  outline: none;
}

.container input[type='submit'] {
  margin: 35px 0 50px 0;
  background: red;
  border: none;
  height: 40px;
  border-radius: 25px;
}

.container input[type='submit']:hover {
  cursor: pointer;
  background-color: grey;
}

.forgot_link {
  text-align: right;
  font-size: 12px;
}

a {
  text-decoration: none;
  line-height: 20px;
  color: black;
}

.icon img {
  height: 30px;
  width: 30px;
  margin: 20px 2px 60px 2px;
  padding: 0px 32px 0 30px;
}

.center_text {
  text-align: center;
  font-size: 14px;
}

.input-icons i {
  position: absolute;
  padding-top: 15px;
  padding-left: 5px;
  opacity: 0.8;
  color: grey;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}
